/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "PokemonHollow";
  src: local("PokemonHollow"),
    url("../assets/fonts/pokemon-hollow.ttf") format("truetype");
}

@font-face {
  font-family: "PokemonSolid";
  src: local("PokemonSolid"),
    url("../assets/fonts/pokemon-solid.ttf") format("truetype");
}


body {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

#app {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

#content {
  text-align: center;
}
