/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "PokemonHollow";
  src: local("PokemonHollow"),
    url("../assets/fonts/pokemon-hollow.ttf") format("truetype");
}

@font-face {
  font-family: "PokemonSolid";
  src: local("PokemonSolid"),
    url("../assets/fonts/pokemon-solid.ttf") format("truetype");
}

/* MAIN BODY */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin: auto;

  font-family: "Lato", sans-serif;
  font-weight: 900;
}

#app {
  text-align: center;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 5rem;
}

.logo {
  text-decoration: none;
  color: black;
}

.logo:hover {
  text-decoration: none;
  color: blueviolet;
}

.navbar-link {
  text-decoration: none;
  color: black;
  margin: 1rem;
}

.navbar-link:hover {
  text-decoration: none;
  color: blueviolet;
}

#content {
  text-align: center;
}
